<mat-toolbar color="primary">
    <mat-icon (click)="snav.toggle()">menu</mat-icon>
    <h2 class="app-title">Okno</h2>
</mat-toolbar>

<!-- Creates a layout with a left-positioned sidenav and explicit content. -->
<mat-sidenav-container class="sidecontainer">
  <mat-sidenav #snav mode="over">
    <p (click)="snav.toggle()" routerLink="/manager" routerLinkActive="active">
      <mat-icon>dashboard</mat-icon>
      Dashboard
    </p>
    <p (click)="snav.toggle()" routerLink="companyadd" routerLinkActive="active">
      <mat-icon>note_add</mat-icon>
      Adicionar Empresa
    </p>
    <p (click)="snav.toggle()" routerLink="/logout" routerLinkActive="active">
      <mat-icon>exit_to_app</mat-icon>
      Logout
    </p>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>