div.container
        margin: 5px

.app-title
        margin-left: 8px

.mat-sidenav-css
        // display: flex
        // align-items: center //verticalmente
        // justify-content: left
        width: 230px
        padding-left: 8px
        