<section>
  <div class="container">
    <div class="col-md-6 mx-auto text-center">
      <div class="header-title">
        <h1 class="wv-heading--title">
          Okno
        </h1>
        <!-- <h2 class="wv-heading--subtitle">
            It's free
         </h2> -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mx-auto">
        <div class="myform form">

          <!-- INICIO DO FORM -->
          <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <div class="form-group">
              <input type="email" formControlName="email" class="form-control my-input" id="email" placeholder="Email">
            </div>

            <div class="form-group">
              <input type="password" formControlName="passwd" class="form-control my-input" id="password" placeholder="Senha">
            </div>

            <div class="text-center">
              <button class=" btn btn-block send-button tx-tfm" type="submit" [disabled]="!form.valid">Entrar</button>
            </div>

          </form>
          <!-- FIM DO FORM  -->


          <!-- GOOGLE SIGNIN -->
          <!-- <div class="form-group">
            <button class="btn btn-block g-button">
              <i class="fa fa-google"></i> Sign up with Google
            </button>
            <a class="btn btn-block g-button" href="#" >
                <i class="fa fa-google"></i> Sign up with Google
              </a> 
          </div> -->

          <!-- LINK SIGNUP -->
          <div class="text-center">
            <p class="medium mt-3">Não possui uma conta?
              <a routerLink="signup" routerLinkActive="active">Cadastrar Conta</a>
            </p>
          </div>

          <!-- Divider -->
          <div class="col-md-12 ">
            <div class="login-or">
              <hr class="hr-or">
              <span class="span-or">ou</span>
            </div>
          </div>

          <!-- BOTAO TERMINAL -->
          <div class="form-group">
            <button class="btn btn-block terminal-button" color="warn" routerLink="/terminal" routerLinkActive="active">Terminal</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>