<mat-accordion class="accordion" *ngFor="let company of companies$ | async">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                    {{ company?.name }}
            </mat-panel-title>
            <mat-panel-description>
                    <a [routerLink]="['/rating',company.name]" routerLinkActive="active">
                        <i class="material-icons">open_in_new</i>
                    </a>
                    <!-- <mat-icon>open_in_new</mat-icon> -->
            </mat-panel-description>
        </mat-expansion-panel-header>
        <!-- Conteudo -->
        
    </mat-expansion-panel>
</mat-accordion>